h1 {
  font-size: 75px;
  font-family: "Monoton", cursive;
  background-color: #1e90ff;
  padding: 40px;
  color: white;
  margin: auto;
  text-shadow: grey;
  letter-spacing: 5px;
  border: black solid 5px;
}

.card-position {
  align-items: center;
}

.container {
  border: black solid 2px;
  border-radius: 10px;
  height: 500px;
  width: 900px;
  font-family: sans-serif;
  text-align: center;
}
